* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'inter', sans-serif;
}

body {
  padding-top: 80px;
}

p {
  color: #52525B;
}

h2 {
  color: #52525B;
  font-size: 36px;
  padding-bottom: 15px;
  font-weight: 600;
}

header { /* აქ fixed როგორ გავაკეთე? */
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 20px 80px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #F8FAFC;
  z-index: 100;
  border-bottom: #52525B20 solid 0.5px;
}

header .right-side {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

header .right-side nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  
}

header .right-side nav ul li a {
  text-decoration: none;
  color: #1d1d1f;
  transition: 0.3s;
}

header .right-side nav ul li a:hover {
  color: #52525B;
}

header .right-side .login-button,
header .right-side .signup-button { 
  font-size: 14px;
  font-weight: 500;
  padding: 11px;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.038);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.036);
  color: #16A34A;
}

.signup-button {
  background-color: #16A34A;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.038);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.036);
}

.login-button:hover {
  opacity: 0.7;
}
.signup-button:hover {
  opacity: 0.7;
}

.section1 {
  background-color: #F8FAFC;
  padding: 100px;  /* aq kide unda davubrunde */
}

.container .title-text {
  width: 50%;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container h1 {
  font-size: 60px;
  width: 600px;
  margin-bottom: 20px;
  color: #52525B;
  line-height: 60px;
  font-weight: 600;
}

.container span {
  color: #16A34A;
}

.container button {
  background-color: #16A34A;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 14px 32px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  transition: 0.3s;
}

.container button:hover {
  opacity: 0.7;
}

.section2 {
  text-align: center;
  align-items: center;
  line-height: 30px;
  padding: 30px;
}

.section2 .client-logos ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 150px;
  margin-top: 40px;
}

.section3 {
 padding: 20px 144px;
 width: 100%;
}

.section3 .title {
  text-align: center;
  justify-self: center;
  width: 44%;
  padding-bottom: 40px;
}

.section3 .row {
  flex: 1fr 1fr 1fr;
  gap: 100px;
}

.section3 .row .card {
  text-align: center;;
  line-height: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  padding: 24px 32px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.section3 .row .card h3 {
  color: #52525B;
  line-height: 36px;
  padding: 10px;
  font-size: 28px;
  padding-bottom: 15px;
}

.section4 {
  padding: 60px 144px;
}

.section4 .text {
  padding: 60px;
  width: 750px;
  font-size: 14px;
}

.section4 .text p {
  line-height: 25px;
}

.section5 {      
  background-color: #F8FAFC;
  padding: 70px 100px;
  align-items: center;
}

.section5 .left-side {
  width: 390px;
}

.section5 .row { 
 flex-wrap: wrap;
 justify-content: space-between;
 align-items: center;
}

.section5 img {
  margin-right: 20px;
}

.section5 ul li {
  display: flex;
  flex: 50%;
  line-height: 30px;
  margin-bottom: 40px;
  justify-content: center;
}

.section5 h3 {
  font-size: 28px;
  color: #52525B;
}

.section7 {
  background-color: #F8FAFC;
  padding: 40px 154px;
  display: flex;
}

.section7 .right-text {
  line-height: 30px;
}

.section7 .left-image {
  height: 340px;
  width: 340px;
  margin-right: 40px;
}

.section7 .right-text span {
  font-weight: 600;
  font-size: 20px;
} 

.section7 .company-images {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 50px;
}

.section7 .company-images a {
  text-decoration: none;
  color: #16A34A;
  font-weight: 500;
  font-size: 20px;
}

.section8 {
  padding: 50px 160px;
  text-align: center;
}

.section8 .top-text {
  color: #717171;
  width:650px;  
  margin: 0px auto;
  margin-bottom: 30px;
}

.section8 img {
  width: 368px;
  border-radius: 15px;
}

.section8 .row {
  display: flex;
  gap: 40px;
}


.section8 .card {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  text-align: center;
  background-color: #F5F7FA;
  color: #717171;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 180px;
  line-height: 30px;
  padding: 20px 50px;
  margin-top: -70px;
  position: relative;
}

.section8 .card a {
  text-decoration: none;
  color: #16A34A;
  font-weight: 500;
  font-size: 20px; 
  margin-top: 20px;
}

.section9 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color :#F5F7FA;
  margin: 0px auto;
  text-align: center;
  padding: 30px 0px;
}

.section9 h1 {
  line-height: 70px;
}

footer {
  background-color: #263238;
  padding: 40px 150px;
}

footer .column {
  display: flex;
  gap: 500px;
}

.footer-left-side {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 14px;
}

.socialmedia-logos {
  display: flex;
  gap: 20px;
}

.socialmedia-logos a {
  text-decoration: none;
  color: white;
  border-radius: 50%;
  padding: 10px;
  background-color: #263c47;
}

.footer-right-side {
  display: flex;
  gap: 80px;
  color: white;
  line-height: 40px;
}

.footer-right-side h3 {
  font-weight: 500;
}

.footer-list {
  list-style: none;
  text-wrap: nowrap;
}
.footer-list li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.812);
  font-size: 14px;
}

footer .input {
  display: flex;
  margin-left: -10px;
  
}

input::placeholder {
  background-color: #717171;
}

footer button {
  border: none;

}












