* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: arial;
}

header {
  background-color: #339481;
  padding-inline: 200px;
}

header nav li {
  display: inline;
}

header nav li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  padding: 30px;
}

.fa-facebook {
  margin-left: 200px;
}

.top-container {
  margin: 0 auto;
  max-width: 1200px;
  text-align: center;
  margin-top: 40px;
}

.top-container img {
 width: 300px;
 height: 180px;
 object-fit: cover;
}

.top-container div {
  margin-top: 40px;
  line-height: 35px;
  color: rgb(158, 158, 158);
  font-size: 20px;
}

.top-container h4 {
  margin-bottom: 20px;
}

.bottom-container {
  text-align: center;
  margin-top: 40px;
  
}

.bottom-container img {
  width: 1100px;
}