* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.714);
}

body {
   background-color: pink;
}

header {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 50px;
  margin-bottom: 70px;
  background-color: white;
}

header img {
  width: 300px;
  margin-bottom: 30px;
}

header h3 {
  font-weight: 100;
  margin-bottom: 30px;
}

nav ul li {
  display: inline;
}

nav a {
  text-decoration: none;
  margin-right: 30px;
  font-size: 18px;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  text-align: justify;
  font-size: 20px;
  line-height: 30px;
  background-color: white;
  padding: 40px;
}

.container h1,
h3 {
  margin-bottom: 30px;
  margin-top: 20px;
}

.container p {
  margin-bottom: 10px;
}



