* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width:1400px;
  margin: 0 auto;
  padding: 0px 15px;
}

.row {
  display: flex;
}

.container-padding {
  padding: 0px 90px;
}

.gap-30 {
  gap: 30px;
}

.gap-100 {
  gap: 100px;
}

.space-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.align-items {
  align-items: center;
}

section:not(.hero-section) {
  padding: 60px 0px;
}

h1 {
  font-size: 60px;
  color: #092112;
  font-weight: 300;
}

h2 {
  font-size: 64px;
  font-weight: 700;
  color: #717C56;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-24 {
  margin-bottom: 24px;
}
/* header styles */
header {
  padding: 60px 0 20px 0;
  position: relative;
}
header .logo {
  width: 213px;
  height: 113px;
  object-fit: cover;
}

header nav ul {
  list-style: none;
}

header nav ul a {
  text-decoration: none;
  color: #092112;
}

header nav ul li span {
  font-weight: bold;
  color: #0B6623;
}

/* header end */

/* hero section styles */
.hero-section {
  background-color:#A3D9A5;
  border-bottom: 30px solid #455F30;
  position: relative;
  padding: 120px 0;

 /*  background-image: url(images/Vector\ 1.png);
  background-repeat: no-repeat;
  background-position-y: 47%;
  background-position-x: 24%; */
}

.hero-section h1 span {
  color: #455F30;
  font-weight: 600;
}


.hero-section p {
  font-weight: 400;
  font-size: 24px;
}

.hero-section p span {
  font-weight: 300;
}

.hero-section .mail-form input::placeholder {
  color: #092112;
  font-size: 18px;
}

.hero-section .mail-form input {
  width: 100%;
  max-width: 280px;
  padding: 14px 5px 9px 14px;
  border: none;
}

.hero-section .mail-form .submit-btn {
  background-color: #0B6623;
  border: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 16px 23px;
}

.hero-section .hero-image {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 754px;
  height: 754px;
}

/* needs to be fixed !!!!!!!!!!!!!!!!!!!!! */
/* hero section styles end */

/* Aboutus section */
.aboutus-section p {
  font-size: 20px;
}

.btn {
  background-color: #8DAD78;
  color: white;
  border-radius: 12px;
  padding: 13px 34px;
  border: none;
  font-size: 25px;
}
/*end  about us section */

/* services section */
.services-section p {
  font-size: 24px;
}

.arrows button {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  border: none;
  background-color: #8DAD78;
  color: white;
  font-size: 20px;
  margin-left: 20px;
}

.services-section .vids {
  gap: 100px;
}

.services-section .vid img {
  width: 358px;
  height: 490px;
  object-fit: cover;
}

.services-section .card {
  text-align: center;
  background: linear-gradient(0deg, rgba(39, 105, 13, 1) 0%, rgba(0, 0, 0, 0.4) 100%);

  margin-top: -30%;
  position: relative;
}

.services-section .card h3 {
  font-size: 32px;
  color: #8DAD78;
  font-weight: 800;
  margin-bottom:10px;
}
/* service section end */


/* blogsection */
.blog-section .titles {
  text-align: center;
}

.blog-section .row {
  gap: 15px;

}

.blog-section .card img {
  width: 416px;
  height: 300px;
}

.blog-section .card {
  box-shadow: 0 0px 8px 0px #8DAD78;
  border-radius: 5px;
  padding: 29px 19px;
  line-height: 40px;
}

.blog-section .card .title {
  font-size: 14px;
  font-weight: 500;
} 

.blog-section .card p span {
  background-color: #EEEEEE;
  padding: 4px 8px;
  margin-right: 5px;
}

.blog-section .card h4 {
 font-size: 24px; 
}

.blog-section .card button {
  background-color: #A3D9A5;
  color: #0B6623;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 8px 13px;
}
/* blogsection end */

/* subscribe section */
.subscribe-section .titles {
  text-align: center;
}

.subscribe-section form {
  width: 860px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.subscribe-section form input {
  border-radius: 43px;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  height: 80px;
  width: 100%;
}

.subscribe-section button {
  background-color: #8DAD78;
  color: white;
  font-size: 25px;
  border-radius: 43px;
  padding: 18px 30px;
  border: none;

  position: absolute;
  right: 10px;
  
}
/* subscribe section end */

/* footer */

/* footer end */